@model List<EksiSozluk.EntityLayer.Concrete.Heading> 

<div class="left-side me-4">
    <nav class="visible-link">
        <div class="header-bas d-flex">
            <h2 class="gundem-baslik">gündem</h2>
            <a id="gundem-gear" href="">
                <i id="baslik" class="fa-solid fa-gear "></i>
            </a>
        </div>
        <ul class="topic-list partial" data-timestamp="637999757796904465">
            @foreach(var item in Model)
            {
                <li>
                    <a href="/Content/ContentByHeading/@item.HeadingId" class="nav-link"
                       draggable="true">
                        @item.HeadingName
                       <small>79</small></a>
                </li>
            }
        </ul>
    </nav>
</div>