<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HeadPartial")
<body>
    <!-- Header Section Start -->
    <header class="">
        <nav class="navbar navbar-expand-lg bg-white">
            @await Component.InvokeAsync("_SearchPartial")
        </nav>
        @await Component.InvokeAsync("_NavbarPartial")
    </header>
    <div class="container middle_page d-flex w-100">
        @await Component.InvokeAsync("_SidebarPartial")
       
        <div class="Right-side ms-4">


            @RenderBody()

            @await Component.InvokeAsync("_FooterPartial")
        </div>
    </div>
    @RenderSection("Scripts", required:false)
    @await Component.InvokeAsync("_ScriptPartial")
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</body>
</html>

