@model List<EksiSozluk.EntityLayer.Concrete.Content>
@{
    ViewData["Title"] = "ContentByHeading";
    Layout = "~/Views/Shared/_EksiSozluk.cshtml";
    int i = 0;
}
@*src="https://bczl.meb.k12.tr/meb_iys_dosyalar/34/06/969693/resimler/2021_04/k_02102337_2118fbf0-51e6-477f-b6f7-175761b15217.jpg*@
<div class="entry-side">
    <div class="reklam">
        <img src="~/EksiSözlük/img/aysebayrak.jpeg" 
             width="970px"
             height="250px" />
    </div>
    <div class="topic-ss d-flex mt-3 mb-3">
        <div class="topic w-75 me-1">
            @foreach(var item in Model)
            {
                i++;
                if(i == 1)
                {
                    <h1 class="topic-h">
                        <a href="">@item.Heading.HeadingName</a>
                    </h1>
                }

            <div class="content">
               <br /><br />@item.ContentTitle..<br /><br />
                <a class="b" href=""> </a>
            </div>
            <footer class="entry-footer">
                <div class="ust-button d-flex">
                    <div class="entry-footer-left">
                        <a href="" class="m-2">
                            <i class="fa-solid fa-thumbs-up"></i>
                        </a>
                        <a href="" class="m-2">
                            <i class="fa-solid fa-thumbs-down"></i>
                        </a>
                    </div>
                    <div class="entry-footer-right">
                        <a href="" class="m-2">
                            <i class="fa-solid fa-arrow-up-from-bracket"></i>
                        </a>
                        <a href="" class="m-2">...</a>
                    </div>
                </div>
                <div class="footer-info">
                    <div>
                        <div id="entry-nick-container">
                            <div id="entry-author">
                                    <a class="entry-author" href="/User/UserDetail/@item.AppUser.Id">@item.AppUser.UserName</a>
                            </div>
                        </div>
                        <div class="entry-date">
                                <a class="entry-date permalink" href="/User/UserDetail/@item.AppUser.Id">@(((DateTime)item.ContentDate).ToString("dd-MMM-yyyy"))</a>
                        </div>
                    </div>
                    <div class="avatar-container">
                        <a href="">
                            <img class="avatar"
                                 href="/User/UserDetail/@item.AppUser.Id"
                                 src="~/EksiSözlük/img/user.svg"
                                 data-default="//ekstat.com/img/default-profile-picture-light.svg"
                                 alt="chippi"
                                 title="chippi" />
                        </a>
                    </div>
                </div>
                <br />
                <br>
                    <div id="contentList"></div>
            </footer>
            }
            <div class="column-75 yazi" style="position: relative;">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">İçerik Ekleme</label>
                    <textarea class="form-control larger-text" id="exampleFormControlTextarea1" rows="6"></textarea>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="ml-auto">
                        <a class="btn custom-color" style="background-color: #4CAF50;"  role="button">yolla</a>
                    </div>
                </div>
            </div>
            <style>
                .larger-text {
                    font-size: 16px;
                    height: 200px;
                    resize: vertical;
                }
            </style>
        </div>
        <div class="reklam-side w-25">
            <div class="reklam">
                <img src="https://tpc.googlesyndication.com/simgad/18263286309413066469"
                     width="100%"
                     height="300px" />
            </div>
        </div>
    </div>
</div>
