<footer id="site-footer">
    <ul class="d-flex">
        <li><a href="/iletisim">iletişim</a></li>
        <li><a href="/entry/125231929">şeffaflık raporu</a></li>
        <li><a href="/reklam">reklam</a></li>
        <li><a href="/sozluk-is-ilanlari--5895566">kariyer</a></li>
        <li><a href="/entry/19784395">kullanım koşulları</a></li>
        <li><a href="/entry/66470645">gizlilik politikamız</a></li>
        <li><a href="/entry/66762977" rel="help">sss</a></li>
        <li><a class="index-link" href="/istatistik">istatistikler</a></li>
        <li><a href="/sub-etha">sub-etha</a></li>
        <li>
            <a href="https://www.instagram.com/sozluk"
               rel="noopener"
               target="_blank">instagram</a>
        </li>
        <li>
            <a href="http://twitter.com/sozluk" rel="noopener" target="_blank">twitter</a>
        </li>
        <li>
            <a href="http://www.facebook.com/eksisozluk"
               rel="noopener"
               target="_blank">facebook</a>
        </li>
    </ul>
</footer>